<!DOCTYPE html>
<html>
<head>
    <title>Song Guessr!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='genre-selection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Song Guessr!</h1>
    </div>
    <div class="vertical"></div>
    <div class="map">
        <img src="{{ url_for('static', filename='mercator_classic_world_political_wall_mural_lg.jpg') }}" class="map_img">
        <p class="description">Please select a region where you would like to guess songs from:</p>
        <form action="/process_input" method="post">
            <input type="text" id="region-input" name="region-input" placeholder="Select a country" onkeydown="return event.key != 'Enter';" required>
            
            <br>
            
            <select id="sorting-metric" name="sorting-metric" required>
                <option value="title">Title</option>
                <option value="rank">Rank</option>
                <option value="date">Date</option>
                <option value="artist">Artist</option>
            </select>
            
            <br>

            <button type="submit">Submit</button>
        </form>
</body>
</html>
